.home {
  display: flex;
  height: 100%;
}

.nameDisplay {
  margin: auto;
  margin-top: 20%;
  color: #EEE;
  text-align: center;
}
.name {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Fira Mono', monospace;
}
.subtitle {
  font-size: 24px;
  font-family: 'Open Sans';
}